<h1>Sign up confirmation</h1>
<h3>Are you sure these values are correct?</h3>

<p><%= "#{@user.name}" %></p>
<p><%= "#{@user.email}" %></p>

<%= button_to "Yes", {controller: "users", action: "create", params: params}, class: 'btn btn-success' %>
<%= button_to "No", {controller: "users", action: :confirm }, class: 'btn btn-success' %> 
